* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

/* top part is here */
.Navigation {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}



/* mid part is here */
.mid {
    margin-top: 57px;
    margin-bottom: 65px;
    height: 100%;
    overflow: hidden;
}

.box {
    clear: both;
    float: left;
}

.dbox {
    clear: both;
    float: right;
}






/* bottom part is here */
.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}

form {
    display: flex;

}

.mb-3 {
    width: 100%;
}

.sbmt button {
    outline: none;
    border: none;
    height: 40px;
    width: 50px;
    border-radius: 3px;
    background-color: grey;
}